{:kotoba.app/id "cloud.itonami.isic-0710", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreibxns24jagbx3rtlzy5wnaqqtg2wfu2m2apf5sxmuytiduvzznsjm", :kotoba.app/embed-url "ipfs://bafkreibxns24jagbx3rtlzy5wnaqqtg2wfu2m2apf5sxmuytiduvzznsjm", :published {:archive "https://kotobase.net/ipfs/bafkreibxns24jagbx3rtlzy5wnaqqtg2wfu2m2apf5sxmuytiduvzznsjm", :size 72180, :put-status 201, :get-status 200, :at "2026-08-15T13:35:30.294Z"}}
